<form class="vh-100 bg-light" method="post" action="/forgot">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Forgot Password</h2>
              <p class="text-black-50 mb-5">Please enter your email to restore your account</p>
              {{> messages}}
              <div class="form-outline form-white mb-4">
                <input type="email" id="recoverEmail" name="email" class="form-control form-control-lg" placeholder="Email"/>
                {{!-- <label class="form-label" for="typeEmailX">Email</label> --}}
              </div>

              <button class="btn btn-primary btn-lg px-5" type="submit">Send Email</button>


            </div>

            <div>
              <a href="/login" class="text-black-50 fw-bold">Back to Login</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
